@use "../abstracts";

html.dark{
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(87%) sepia(100%) saturate(1%) hue-rotate(269deg) brightness(109%) contrast(97%);


    --body-bg: #292E39;
    --header-bg-color:#171C28;
    --footer-bg-color: var(--header-bg-color);
    --footer-text-color: #9e9da6;

    --top-act-group-color:#292E39;
    --top-act-group-shadow:rgba(0, 0, 0, 0.20);
    --top-act-group-separate: #EDEDF6;

    @include abstracts.screen(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.20);
    }

    // Dropdown
    --dropdown-bg-color: #2f3441;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.40);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(17%) sepia(10%) saturate(1240%) hue-rotate(186deg) brightness(95%) contrast(89%);
    --top-menu-border-color: #171C28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(93%) sepia(55%) saturate(51%) hue-rotate(179deg) brightness(100%) contrast(98%);

    // Sidebar
    --sidebar-bg: #292E39;
    --sidebar-shadow: rgba(23, 28, 40, 0.40);

      // Cate-item
    --cate-item-bg: #171C28;
    --cate-item-thumb-bg: #292E39;
    --cate-item-title-color: #fff;

     // Button
     --filter-btn-color: #fff;
     --filter-bth-bg: #171C28;

     --like-btn-bg: #292E39;

     // Product-card
    --product-card-bg: #171C28;
    --product-card-shadow: rgba(0, 0, 0, 0.20);

    // Filter form
    --filter-form-bg: var(--dropdown-bg-color);
    --filter-form-shadow: rgba(0, 0, 0, 0.40);
    --form-tag-bg: #171C28;
    --filter-form-arrow: var(--dropdown-arrow-color);

     // Auth
     --auth-content-bg: #292E39;
     --auth-intro-bg: #171C28;
     --auth-intro-text-color: #B9BABE;
     --auth-content-heading-color: #B9BABE;

     // Forms
    --form-placeholder-color: #B9BABE;

    // Product detail
    --product-detail-bg: #292E39;

     // Breadcrumbs
     --breadcrumbs-bg: #171C28;
     --breadcrumbs-shadow: rgba(23, 28, 40, 0.20);
}