html{
    --text-color: #1A162E;
    --icon-color: brightness(0) saturate(100%) invert(6%) sepia(77%) saturate(1431%) hue-rotate(230deg) brightness(87%) contrast(92%);

    --header-bg-color:#EEE;
    --top-act-group-color:#fff;
    --top-act-group-shadow:rgba(237, 237, 246, 0.20);
    --top-act-group-separate: #EDEDF6;
}