@use "../abstracts";

html{
    --text-color: #1A162E;
    --icon-color: brightness(0) saturate(100%) invert(6%) sepia(77%) saturate(1431%) hue-rotate(230deg) brightness(87%) contrast(92%);

    --body-bg:#F6F6F6;
    --header-bg-color:#EEE;
    --footer-bg-color: var(--header-bg-color);

    --top-act-group-color:#fff;
    --top-act-group-shadow:rgba(237, 237, 246, 0.20);
    --top-act-group-separate: #EDEDF6;

    @include abstracts.screen(lg) {
        --header-bg-color:#fff;
        --header-shadow-color: rgba(237, 237, 246, 0.20);
    }

    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.40);
    --top-menu-border-color: #D2D1D6;

    // Sidebar
    --sidebar-bg:#fff;
    --sidebar-shadow: rgba(200, 200, 200, 0.40);

    // Cate-item
    --cate-item-bg: #eee;
    --cate-item-thumb-bg: #fff;
    --cate-item-title-color: #000;

    @include abstracts.screen(md){
        --cate-item-bg: #fff;
    }

    // Button
    --filter-btn-color: #6C6C72;
    --filter-bth-bg: #fff;

    --like-btn-bg: #fff;

    // Product-card
    --product-card-bg: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.20);

    // Filter form
    --filter-form-bg: #fff;
    --filter-form-shadow: rgba(200, 200, 200, 0.40);
    --form-tag-bg: #F8F8FB;

    // Auth
    --auth-content-bg: #fff;

    @include abstracts.screen(md){
        --auth-intro-bg: #fff;
    }

    // Forms
    --form-placeholder-color: #D2D1D6;

    // Product detail
    --product-detail-bg: #fff;

    // Breadcrumbs
    --breadcrumbs-bg: #F6F6F6;
    --breadcrumbs-shadow: rgba(237, 237, 246, 0.20);

}